{
  "presets": [["@babel/preset-env",{
    "targets": {
      "browsers": ["> 5%","ie > 9"],
      "uglify": true
    }
  }], ["@babel/preset-react"]],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-syntax-decorators", {"decoratorsBeforeExport":true}],
    "@babel/plugin-syntax-async-generators","@babel/plugin-syntax-object-rest-spread", 
    ["@babel/plugin-proposal-class-properties", {"loose": true}]
  ],
  "comments": false,
  "env":{
    "development":{
      "plugins": ["react-hot-loader/babel"]
    }
  }
}