{
  "presets": [["@babel/preset-env",{
    "useBuiltIns": "usage",
    "corejs": 2,
    "debug" : false,
    "targets": {
      "browsers": [
        "> 5%",
        "ie > 9",
        "iOS >= 8",
        "Android >= 4",
        "Firefox ESR",
      ],
    }
  }], ["@babel/preset-react"]],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": false, "decoratorsBeforeExport": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    "@babel/plugin-syntax-async-generators","@babel/plugin-syntax-object-rest-spread",
    ["@babel/plugin-transform-runtime", {
      "helpers": false,
    }]
  ],
  "comments": false,
  "env":{
    "development":{
      "plugins": ["react-hot-loader/babel"]
    }
  }
}